<section class="py-5">
  <div class="container py-5">
    <header class="text-center mb-5">
      <h1 class="display-4 font-weight-bold">Sản phẩm mới 2023</h1>
    </header>
    <div class="row pb-5 mb-4">

      <div class="col-lg-3 col-md-6 mb-4 mb-lg-0" *ngFor="let product of productList">
        <!-- Card-->
        <div style="margin-top: 20px" class="card rounded shadow-sm border-0 image">
          <div class="card-body p-4">
            <a [routerLink]="['/detail',product.id]"><img
              [src]="product.image"
              class="img-fluid d-block mx-auto mb-3"></a>
            <h5><a [routerLink]="['/detail',product.id]" class="text-dark">{{product.name}}</a></h5>
            <p class="small text-muted font-italic">{{product.description | slice: 0:47}}...</p>
            <ul class="list-inline small">
              <li class="list-inline-item m-0"><span class="fa fa-star checked"></span>
              </li>
              <li class="list-inline-item m-0"><span class="fa fa-star checked"></span>
              </li>
              <li class="list-inline-item m-0"><span class="fa fa-star checked"></span>
              </li>
              <li class="list-inline-item m-0"><span class="fa fa-star checked"></span>
              </li>
              <li class="list-inline-item m-0"><span class="fa fa-star unchecked"></span>
              </li>
            </ul>
            <b>{{product.price | number}}đ</b>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
