<footer>
  <div class="container pt-5 border-bottom">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-3 col-sm-7 col-7 p-0 float-left mb-3">
          <img width="300" src="https://firebasestorage.googleapis.com/v0/b/mouse-store.appspot.com/o/logo.jpg?alt=media&token=dd967918-a382-4d01-9079-1aa37f76f247">
        </div>
        <div class="col-md-2 col-sm-5 col-5 p-0 float-left mb-3">
          <b style="font-size: 16px" class="mb-4 font-weight-bold text-uppercase">Mouse Store</b><br><br>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../sales/sales-performance-market-pipeline.html">- Giới thiệu</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../project-management/project-management.html">- Kiểm tra đơn hàng</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../workforce/workforce-organization-management-hr.html">- Cách chọn size</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../e-commerce/e-commerce.html">- Thông tin liên hệ</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../finance/finance-accounting-erp.html">- Câu hỏi thường gặp</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../business-apps/business-apps.html">- Hướng dẫn bảo quản</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-5 col-5 p-0 float-left mb-3">
          <b style="font-size: 16px" class="mb-4 font-weight-bold text-uppercase">Chính sách</b><br><br>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://github.com/naologic">- Hướng dẫn mua hàng</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://stackshare.io/naologic">- Khách hàng thân thiết</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://stackshare.io/naologic">- Chính sách đổi hàng</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://stackshare.io/naologic">- Chính sách bảo mậ</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://stackshare.io/naologic">- Đối tác sản xuất</a></li>
          </ul>
        </div>

        <div class="col-md-2 col-sm-5 col-5 p-0 float-left mb-3">
          <b style="font-size: 16px" class="mb-4 font-weight-bold text-uppercase">Kết nối</b><br><br>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a href="https://twitter.com/naologicerp"><i class="fa-brands fa-twitter"></i> Twitter</a>
            </li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a href="https://plus.google.com/109511516185666043480" target="_blank"><i
                class="fa-brands fa-google"></i> Google+</a>
            </li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a href="https://www.facebook.com/naologic/" target="_blank"><i class="fa-brands fa-facebook"></i>
                Facebook</a>
            </li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2">
              <a href="https://www.youtube.com/channel/UCtHmuf2oQLnksokfz8GIbKA" target="_blank"><i
                class="fa-brands fa-youtube"></i> YouTube</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-5 col-5 p-0 float-left mb-3">
          <b style="font-size: 16px" class="mb-4 font-weight-bold text-uppercase">Thông tin cửa
            hàng</b><br><br>
          <ul class="list-group">
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="../about-naologic.html"><i class="fa-solid fa-house"></i> Võ Quí Hân, Đà nẵng</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://blog.naologic.com"><i class="fa-solid fa-phone"></i> Hotline:
              0949890225</a></li>
            <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a
              href="https://blog.naologic.com"><i class="fa-solid fa-envelope"></i> Mail:
              danhhoang0196@gmail.com</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-12">
        <div class="py-4 d-flex justify-content-center align-items-center">
          <a class="mr-4" href="../privacy.html">Copyright © 2023 MOUSE STORE</a>
        </div>
      </div>
    </div>
  </div>
</footer>
