<div style="margin-bottom: 50px" class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1">
              <img
                src="https://firebasestorage.googleapis.com/v0/b/c0822g1-mobile-shop-d949d.appspot.com/o/16567-clean-z3351628479742-f672d13ee8cbddd92d8accb24cd4c7b2-removebg-preview.png?alt=media&token=1bae1149-f5c7-4c99-b82b-7dcf6af70610"/>
            </div>
          </div>
<!--          <h4>Sản phẩm liên quan</h4>-->
<!--          <ul class="preview-thumbnail nav nav-tabs">-->
<!--            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img-->
<!--              src="http://placekitten.com/200/126"/></a></li>-->
<!--            <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
<!--            </li>-->
<!--            <li><a data-target="#pic-3" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
<!--            </li>-->
<!--            <li><a data-target="#pic-4" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
<!--            </li>-->
<!--            <li><a data-target="#pic-5" data-toggle="tab"><img src="http://placekitten.com/200/126"/></a>-->
<!--            </li>-->
<!--          </ul>-->

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">Áo thun tay ngắn</h3>
          <div class="rating">
            <div class="stars">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star unchecked"></span>
              <span class="fa fa-star unchecked"></span>
            </div>
            <span class="review-no">41 đánh giá</span>
          </div>
          <b>Mô tả: </b>
          <p class="product-description">- Áo thun tay ngắn nam, chất vải siêu mịn.</p>
          <b>Hướng dẫn bảo quản: </b>
          <p>- Không dùng hóa chất tẩy.</p>
          <p>- Ủi ở nhiệt độ thích hợp, hạn chế dùng máy sấy.</p>
          <p> - Giặt ở chế độ bình thường, với đồ có màu tương tự.</p>
          <h4 class="price">Giá: <span style="margin-left: 10px">295.000₫</span></h4>
          <p class="vote"><strong>91%</strong> người mua thích sản phẩm này! <strong>(87 phiếu)</strong></p>
          <h5 class="sizes">Chọn size:
            <span class="size" data-toggle="tooltip" title="small">s</span>
            <span class="size" data-toggle="tooltip" title="medium">m</span>
            <span class="size" data-toggle="tooltip" title="large">l</span>
            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
          </h5>
          <h5 class="sizes">Màu sắc:
            <span class="color orange cl" data-toggle="tooltip" title="Not In store"></span>
            <span class="color green cl"></span>
            <span class="color blue cl"></span>
          </h5>
          <h5 class="colors" style="display: inline">Trạng thái:
            <del style="color: silver;margin-left: 10px">Còn hàng</del>
            <span style="margin-left: 20px;color: red">Hết hàng</span>
          </h5>
          <h5 class="colors">
            <button style="width: 100%;" class="add-to-cart btn btn-default" type="button">Thêm vào giỏ hàng</button>
          </h5>
        </div>
      </div>
    </div>
    <div class="pt-5">
      <h6 class="mb-0"><a routerLink="/" class="text-body"><i
        class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ</a></h6>
    </div>
  </div>
</div>
