<section class="bg-light">
  <div class="container pb-5">
    <div class="row">

      <div class="col-lg-5 mt-5">
        <div class="card mb-3">
          <img class="card-img img-fluid"
               src="https://firebasestorage.googleapis.com/v0/b/c0822g1-mobile-shop-d949d.appspot.com/o/16567-clean-z3351628479742-f672d13ee8cbddd92d8accb24cd4c7b2-removebg-preview.png?alt=media&token=1bae1149-f5c7-4c99-b82b-7dcf6af70610"
               id="product-detail">
        </div>
        <div class="row">
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <!--End Controls-->
          <!--Start Carousel Wrapper-->
          <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
            <!--Start Slides-->
            <div class="carousel-inner product-links-wap" role="listbox">

              <!--First slide-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid"
                           src="https://firebasestorage.googleapis.com/v0/b/mouse-store.appspot.com/o/6c16d2ff949adcb475741ac64f54804a-removebg-preview.png?alt=media&token=438a0f1c-3a4b-4ff0-827b-29f49ae8617d"
                           alt="Product Image 1">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid"
                           src="https://firebasestorage.googleapis.com/v0/b/mouse-store.appspot.com/o/ao-thun-nam-den-tron-co-tron-tay-ngan-cao-cap-1-removebg-preview.png?alt=media&token=964bb3cc-c4d8-4bbd-bea0-15602ab5dd7f"
                           alt="Product Image 2">
                    </a>
                  </div>
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid"
                           src="https://firebasestorage.googleapis.com/v0/b/mouse-store.appspot.com/o/ao-thun-nam-trang-tron-co-tron-tay-ngan-cao-cap-removebg-preview.png?alt=media&token=76f05532-efb8-4f1a-b4c1-28b8e372755f"
                           alt="Product Image 3">
                    </a>
                  </div>
                </div>
              </div>
              <!--/.First slide-->

              <!--Second slide-->
              <div class="carousel-item">
                <div class="row">
                  <div class="col-4">
                    <a href="#">
                      <img class="card-img img-fluid"
                           src="https://firebasestorage.googleapis.com/v0/b/c0822g1-mobile-shop-d949d.appspot.com/o/16567-clean-z3351628479742-f672d13ee8cbddd92d8accb24cd4c7b2-removebg-preview.png?alt=media&token=1bae1149-f5c7-4c99-b82b-7dcf6af70610"
                           alt="Product Image 4">
                    </a>
                  </div>
                </div>
              </div>

              <!--Third slide-->
              <!--                      <div class="carousel-item">-->
              <!--                        <div class="row">-->
              <!--                          <div class="col-4">-->
              <!--                            <a href="#">-->
              <!--                              <img class="card-img img-fluid" src="assets/img/product_single_07.jpg" alt="Product Image 7">-->
              <!--                            </a>-->
              <!--                          </div>-->
              <!--                          <div class="col-4">-->
              <!--                            <a href="#">-->
              <!--                              <img class="card-img img-fluid" src="assets/img/product_single_08.jpg" alt="Product Image 8">-->
              <!--                            </a>-->
              <!--                          </div>-->
              <!--                          <div class="col-4">-->
              <!--                            <a href="#">-->
              <!--                              <img class="card-img img-fluid" src="assets/img/product_single_09.jpg" alt="Product Image 9">-->
              <!--                            </a>-->
              <!--                          </div>-->
              <!--                        </div>-->
              <!--                      </div>-->
              <!--/.Third slide-->
            </div>
            <!--End Slides-->
          </div>
          <!--End Carousel Wrapper-->
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--End Controls-->
        </div>
      </div>
      <!-- col end -->
      <div class="col-lg-7 mt-5">
        <div class="card">
          <div class="card-body">
            <h1 class="h2">Áo thun tay ngắn</h1>
            <p class="h3 py-2">295,000đ</p>
            <p class="py-2">
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-secondary"></i>
              <span class="list-inline-item text-dark"> Đánh giá 4.8 | 36 Bình luận</span>
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Mã sản phẩm:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>MS-001</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Thương hiệu:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>Easy Wear</strong></p>
              </li>
            </ul>

            <h6>Mô tả:</h6>
            <p>Áo thun The Original Vietnamese, chất liệu thun cotton 280gsm dày dặn, mát lạnh. From unisex thoải mái,
              nam hoặc nữ đều mặc được. Bo cổ bản to dày dặn, đường may cao cấp từng chi tiết. </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Màu sắc:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>Trắng / Đen</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Chất liệu:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>Thân: 73% Bông, 27% Polyeste/ Bo: 65% Bông, 35% Polyeste</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Loại:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>Áo thun</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Phong cách:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>Trẻ trung</strong></p>
              </li>
            </ul>
            <h6>Hướng dẫn bảo quản:</h6>
            <ul class="list-unstyled pb-3">
              <li>Giặt ở chế độ bình thường, với đồ có màu tương tự.</li>
            </ul>

            <form action="" method="GET">
              <input type="hidden" name="product-title" value="Activewear">
              <div class="row">
                <div class="col-auto">
                  <ul class="list-inline pb-3">
                    <li class="list-inline-item">Size :
                      <input type="hidden" name="product-size" id="product-size" value="S">
                    </li>
                    <li class="list-inline-item"><span class="btn btn-success btn-size">S</span></li>
                    <li class="list-inline-item"><span class="btn btn-success btn-size">M</span></li>
                    <li class="list-inline-item"><span class="btn btn-success btn-size">L</span></li>
                    <li class="list-inline-item"><span class="btn btn-success btn-size">XL</span></li>
                  </ul>
                </div>
              </div>
              <div class="row pb-3">
                <div class="col d-grid">
                  <button type="submit" class="btn btn-success btn-lg" name="submit" value="addtocard">Thêm vào giỏ
                    hàng
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class="pt-5">
        <h6 class="mb-0"><a routerLink="/" class="text-body"><i
          class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ</a></h6>
      </div>
    </div>

  </div>

</section>
