<section class="bg-light">
  <div class="container pb-5">
    <div class="row">

      <div class="col-lg-5 mt-5">
        <div class="card mb-3">
          <img [src]="detailProduct.images[0].url">
          <!--          <img class="card-img img-fluid"-->
          <!--               src="https://firebasestorage.googleapis.com/v0/b/c0822g1-mobile-shop-d949d.appspot.com/o/16567-clean-z3351628479742-f672d13ee8cbddd92d8accb24cd4c7b2-removebg-preview.png?alt=media&token=1bae1149-f5c7-4c99-b82b-7dcf6af70610"-->
          <!--               id="product-detail">-->
        </div>
        <div class="row">
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="prev">
              <i class="text-dark fas fa-chevron-left"></i>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <!--End Controls-->
          <!--Start Carousel Wrapper-->
          <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
            <!--Start Slides-->
            <div class="carousel-inner product-links-wap" role="listbox">
              <!--First slide-->
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-4" *ngFor="let pd of detailProduct.images">
                    <a href="#">
                      <img class=" ard-img img-fluid"
                           src="{{pd.url}}"
                           alt="Product Image 1">
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <!--End Slides-->
          </div>
          <!--End Carousel Wrapper-->
          <!--Start Controls-->
          <div class="col-1 align-self-center">
            <a href="#multi-item-example" role="button" data-bs-slide="next">
              <i class="text-dark fas fa-chevron-right"></i>
              <span class="sr-only">Next</span>
            </a>
          </div>
          <!--End Controls-->
        </div>
      </div>
      <!-- col end -->
      <div class="col-lg-7 mt-5">
        <div class="card">
          <div class="card-body">
            <h1 class="h2">{{detailProduct.name}}</h1>
            <p class="h3 py-2">{{detailProduct.price | number}}đ</p>
            <p class="py-2">
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-warning"></i>
              <i class="fa fa-star text-secondary"></i>
              <span class="list-inline-item text-dark"> Đánh giá 4.8 | 36 Bình luận</span>
            </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Mã sản phẩm:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{detailProduct.codeProduct}}</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Thương hiệu:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{detailProduct.trademark.name}}</strong></p>
              </li>
            </ul>

            <h6>Mô tả:</h6>
            <p>{{detailProduct.description}} </p>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Màu sắc:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{detailProduct.color}}</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Chất liệu:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{detailProduct.material}}</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Loại:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{detailProduct.category.name}}</strong></p>
              </li>
            </ul>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Phong cách:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted"><strong>{{detailProduct.style.name}}</strong></p>
              </li>
            </ul>
            <h6>Hướng dẫn bảo quản:</h6>
            <ul class="list-unstyled pb-3">
              <li>{{detailProduct.washingInstructions}}</li>
            </ul>
            <div class="row">
              <div class="col-auto">
                <ul class="list-inline pb-3">Size:
                  <li class="list-inline-item">
                    <select class="form-select">
                      <option *ngFor="let si of sizeList" [ngValue]="si">{{si.name}}</option>
                    </select></li>
                </ul>
              </div>
            </div>
            <ul class="list-inline">
              <li class="list-inline-item">
                <h6>Trạng thái:</h6>
              </li>
              <li class="list-inline-item">
                <p class="text-muted" *ngIf="detailProduct.quantity == 0">
                  <del>Còn hàng</del>
                  <span style="color: red;font-weight: bold"> Hết hàng</span></p>
                <p class="text-muted" *ngIf="detailProduct.quantity != 0"><span
                  style="font-weight: bold">Còn hàng</span>
                </p>
              </li>
            </ul>
            <div class="row pb-3">
              <div class="col d-grid">
                <button type="button" *ngIf="detailProduct.quantity == 0" disabled style="display:none;"
                        class="btn btn-success btn-lg">Thêm vào giỏ
                  hàng
                </button>
                <button type="button" *ngIf="detailProduct.quantity != 0"
                        (click)="addToCart(detailProduct.id,quality)"
                        class="btn btn-success btn-lg">Thêm vào giỏ
                  hàng
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pt-5">
        <h6 class="mb-0"><a routerLink="/" class="text-body"><i
          class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ</a></h6>
      </div>
    </div>

  </div>

</section>
