<div class="row" style="margin: 100px">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-9">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body">
            <h1 align="center">Thêm mới thông tin hàng hóa</h1>
            <form [formGroup]="productForm" (ngSubmit)="editProduct()">
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <label for="codeProduct" style="font-weight: bold" class="mb-0">Mã sản phẩm:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="codeProduct" required
                         id="codeProduct" placeholder="Vui lòng nhập mã sản phẩm (*)"
                         type="text"
                         class="form-control "/>
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <label for="name" style="font-weight: bold" class="mb-0">Tên hàng:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="name" required
                         id="name" placeholder="Vui lòng nhập tên sản phẩm (*)"
                         type="text"
                         class="form-control "/>
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="image" style="font-weight: bold" class="mb-0">Hình ảnh:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5">
                  <input multiple accept=".jpg, .png, .jpeg, .gif, .pdf" (change)="showPreview($event)" required
                         id="image"
                         class="form-control-file" type="file"/>
                  <input type="text" class="form-control" formControlName="image">
                </div>
                <div class="col-md-9 pe-5" style="position: relative;margin-left: 150px">
                  <input style="display: none" type="text" readonly formControlName="image" class="form-control">
                </div>
                <div class="d-flex justify-content-left" style="margin-left: 200px;margin-top: 10px">
                  <div *ngFor="let img of productList.images,let i = index" style="margin-right: 8px">
                    <div style="position: relative">
                      <img class="d-block" style="height: 84px" src="{{img}}">
                      <span class="remove_img" (click)="deleteImage(i)"
                            aria-label="Close">
      <i style="cursor: pointer" class="fa-solid fa-trash icon"></i>
    </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="color" style="font-weight: bold" class="mb-0">Màu sắc: <sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="color" required id="color" class="form-control" type="text"
                         placeholder="Vui lòng nhập màu sản phẩm (*)">
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="description" style="font-weight: bold" class="mb-0">Mô tả:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="description" required id="description" class="form-control" type="text"
                         placeholder="Nhập mô tả ...">
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="price" style="font-weight: bold" class="mb-0">Giá (VNĐ):<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="price" required id="price" class="form-control" type="text"
                         placeholder="Vui lòng nhập giá tiền sản phẩm (*)">
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="material" style="font-weight: bold" class="mb-0">Chất liệu:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="material" required id="material" class="form-control" type="text"
                         placeholder="Vui lòng nhập chất liệu sản phẩm (*)">
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="washingInstructions" style="font-weight: bold" class="mb-0">Cách bảo quản:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <input formControlName="washingInstructions" required id="washingInstructions" class="form-control"
                         type="text"
                         placeholder="Nhập cách bảo quản sản phẩm ...">
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="category" style="font-weight: bold" class="mb-0">Loại sản phẩm:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <select [compareWith]="compareFun" class="form-select" id="category" formControlName="category">
                    <option value="">---Chọn loại sản phẩm---</option>
                    <option *ngFor="let category of categoryList" [ngValue]="category">{{category.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="origin" style="font-weight: bold" class="mb-0">Xuất xứ:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <select [compareWith]="compareFun" class="form-select" id="origin" formControlName="origin">
                    <option value="">---Chọn xuất xứ---</option>
                    <option *ngFor="let origin of originList" [ngValue]="origin">{{origin.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="style" style="font-weight: bold" class="mb-0">Phong cách:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <select [compareWith]="compareFun" class="form-select" id="style" formControlName="style">
                    <option value="">---Chọn phong cách---</option>
                    <option *ngFor="let style of styleList" [ngValue]="style">{{style.name}}</option>
                  </select>
                </div>
              </div>
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <label for="trademark" style="font-weight: bold" class="mb-0">Thương hiệu:<sup
                    style="color: red;font-size: 15px" title="Bắt buộc">*</sup> </label>
                </div>
                <div class="col-md-9 pe-5" style="position: relative">
                  <select [compareWith]="compareFun" class="form-select" id="trademark" formControlName="trademark">
                    <option value="">---Chọn thương hiệu---</option>
                    <option *ngFor="let trademark of trademarkList" [ngValue]="trademark">{{trademark.name}}</option>
                  </select>
                </div>
              </div>
              <div align="center" class="px-5 py-4">
                <button type="submit" class="btn btn-primary m-4 w-25">Thêm mới</button>
                <button style="margin-left: 10px" type="button" class="btn btn-secondary m-4 w-25"
                        (click)="cancel()">
                  Hủy
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
