<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" style="font-weight: bold" routerLink="/"><i class="fa-solid fa-shirt"></i> Mouse Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div style="margin-left: 100px" class="collapse navbar-collapse" id="navbarResponsive">
<!--      <ul class="navbar-nav ms-1">-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link" id="navbarDropdown" role="button" data-bs-toggle="dropdown"-->
<!--             aria-expanded="false">-->
<!--            Thời trang nam <i style="font-size: 10px" class="fa-solid fa-chevron-down"></i>-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#aothun">Áo thun</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Sơ mi</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Quần dài</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" href="#">Áo khoác</a>-->
<!--        </li>-->
<!--      </ul>-->
    </div>
<!--    <div style="width: 300px" class="input-group rounded">-->
<!--      <input #search type="search" class="form-control rounded" placeholder="Tìm kiếm" aria-label="Search"-->
<!--             aria-describedby="search-addon"/>-->
<!--      <span class="input-group-text border-0" id="search-addon">-->
<!--    <i style="cursor: pointer" class="fas fa-search icon"></i>-->
<!--  </span>-->
<!--    </div>-->
    <a  style="cursor: pointer;color: black"  routerLink="/cart"><i style="margin-right: 10px"
                                                                          class="fa-solid fa-cart-shopping icon"></i></a>
    <a style="cursor: pointer;color: black" *ngIf="isLogged == false" routerLink="/login"><i
      class="fa-solid fa-user icon"></i></a>
    <ul style="cursor: pointer" *ngIf="isLogged == true" class="navbar-nav ms-1">
      <li class="nav-item dropdown">
        <a class="nav-link profile" data-bs-toggle="dropdown"
           aria-expanded="false" style="color: black"><img
          style="border-radius: 50%;border: 1px solid #0c63e4;margin-right: 10px" width="30"
          [src]="user.avatar">{{user.name}}</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a style="cursor: pointer" (click)="checkProfile()" class="dropdown-item">Thông tin cá nhân</a></li>
          <li><a style="cursor: pointer" *ngIf="role == 'ROLE_ADMIN' || role == 'ROLE_EMPLOYEE'" routerLink="/product"
                 class="dropdown-item">Quản lý sản phẩm</a></li>
          <li><a (click)="logout()" class="dropdown-item">Đăng xuất</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center text">
        <h1 class="fw-light">MOUSE STORE</h1>
        <p class="lead">Fasshion and so much more</p>
      </div>
    </div>
  </div>
</header>
