<div class="modal fade" id="staticBackdrop2" tabindex="-1" data-keyboard="false"
     data-backdrop="static" aria-labelledby="staticBackdropLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-dialog modal-lg" style="background: antiquewhite">
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="formPassword" (ngSubmit)="changePassword()">
            <div class="container rounded bg-white mt-5 mb-5">
              <div class="row">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Đổi mật khẩu</h4>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12">
                    <label for="oldPassword" class="labels">Mật khẩu cũ</label>
                    <div class="input-group">
                      <input [type]="op ? 'text' : 'password'" id="oldPassword" class="form-control"
                             formControlName="password">
                      <button [disabled]="formPassword.controls.password.value == ''" (click)="oldPassword()"
                              type="button" class="btn btn-primary">
                        <i class="fa" [ngClass]="{'fa-solid fa-eye-slash': !op,'fa-solid fa-eye': op}"></i>
                      </button>
                    </div>
                    <span class="text-danger">{{passwordError}}</span>
                  </div>
                  <div class="col-md-12">
                    <label for="newPassword" class="labels">Mật khẩu mới</label>
                    <div class="input-group">
                      <input [type]="np ? 'text' : 'password'" id="newPassword" class="form-control"
                             formControlName="newPassword">
                      <button [disabled]="formPassword.controls.newPassword.value == ''" (click)="newPassword()"
                              type="button" class="btn btn-primary">
                        <i class="fa" [ngClass]="{'fa-solid fa-eye-slash': !np,'fa-solid fa-eye': np}"></i>
                      </button>
                    </div>
                    <span class="text-danger">{{newPasswordError}}</span>
                  </div>
                  <div class="col-md-12">
                    <label class="labels" for="confirmPassword">Mật khẩu xác nhận</label>
                    <div class="input-group">
                      <input [type]="cp ? 'text' : 'password'" id="confirmPassword" class="form-control"
                             formControlName="confirmPassword">
                      <button [disabled]="formPassword.controls.confirmPassword.value == ''" (click)="confirmPassword()"
                              type="button" class="btn btn-primary">
                        <i class="fa" [ngClass]="{'fa-solid fa-eye-slash': !cp,'fa-solid fa-eye': cp}"></i>
                      </button>
                    </div>
                    <span class="text-danger">{{confirmPasswordError}}</span>
                  </div>
                </div>
                <div class="mt-5 text-center">
                  <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
                  <button style="margin-left: 20px" id="dismiss2" type="button" class="btn btn-secondary"
                          data-bs-dismiss="modal">
                    Hủy
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img src="{{user?.avatar}}" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;height: 150px;object-fit: cover">
            <h5 class="my-3">{{user?.name}}</h5>
            <p class="text-muted mb-1">Full Stack Developer</p>
            <p class="text-muted mb-4">{{user?.address}}</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Chỉnh sửa
              </button>

              <button style="margin-left: 20px" type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop2">
                Đổi mật khẩu
              </button>
            </div>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0">
          <div class="card-body p-0">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <a href="https://github.com/danhhoang6901" target="blank" class="mb-0"><i class="fab fa-github fa-lg"
                                                                                          style="color: #333333;"></i></a>
                <a href="https://github.com/danhhoang6901" target="blank" class="mb-0">{{user.username}}</a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                <a href="https://www.facebook.com/profile.php?id=100048778998273" target="blank"><i
                  class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100048778998273" target="blank" class="mb-0">{{user.name}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Họ và tên</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.name}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Số điện thoại</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.phoneNumber }}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Địa chỉ</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{user?.address}}</p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="index == 0  && role == 'ROLE_CUSTOMER'" class="row">
          <div class="col-md-12">
            <h2>Lịch sử mua hàng</h2>
            <div class="card mb-4 mb-md-0">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Ngày mua</th>
                  <th scope="col">Tổng tiền</th>
                  <th scope="col">Chi tiết</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let b of bill['content']; index as i">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{b.datePurchase}}</td>
                  <td>{{b.totalMoney | number}}đ</td>
                  <td>
                    <button (click)="showBillDetail(b.id)" type="button" class="btn btn-primary">Xem</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div *ngIf="index == 1 && role == 'ROLE_CUSTOMER'" class="row">
          <div class="col-md-12">
            <h2>Chi tiết lịch sử mua hàng</h2>
            <div class="card mb-4 mb-md-0">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên sản phẩm</th>
                  <th scope="col">Size</th>
                  <th scope="col">Giá</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Ngày mua</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let bh of billHistory;index as i">
                  <th scope="row">{{i + 1}}</th>
                  <td>{{bh.name}}</td>
                  <td>{{bh.size}}</td>
                  <td>{{bh.price | number}}đ</td>
                  <td>{{bh.quantity}}</td>
                  <td>{{bh.datePurchase}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <button style="margin-top: 10px" class="btn btn-secondary" (click)="index = 0">Quay lại</button>
          </div>
        </div>
        <div *ngIf="role == 'ROLE_ADMIN'" class="row">
          <div class="col-md-12">
            <div class="card mb-4 mb-md-0">
              <img style="margin-left: 300px" width="210" height="210" src="https://thumbs.dreamstime.com/b/admin-sign-laptop-icon-stock-vector-166205404.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 30px" class="pt-5">
      <h6 class="mb-0"><a routerLink="/" class="text-body"><i
        class="fas fa-long-arrow-alt-left me-2"></i>Quay lại trang chủ</a></h6>
    </div>
  </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="update()">
          <div class="container rounded bg-white mt-5 mb-5">
            <div class="row">
              <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                  <label class="hoverable" for="fileInput">
                    <input style="display:none;" formControlName="avatar"> <br> <br>
                    <input accept=".jpg, .png, .jpeg, .gif, .pdf" id="fileInput" type="file"
                           (change)="showPreview($event)">
                    <img *ngIf="idLoadding == false" class="rounded-circle"
                         style="width: 150px;height: 150px;object-fit: cover"
                         [src]="form.controls.avatar.value">
                    <div *ngIf="idLoadding == true" id="loading">
                    </div>
                    <p *ngIf="idLoadding == true">Chờ trong giây lát ...</p>
                    <div style="margin-top: 30px;margin-left: 20px" class="hover-text">Chọn ảnh</div>
                    <div class="background"></div>
                    <span class="text-danger">{{avatarError}}</span>
                  </label>
                  <span class="font-weight-bold">{{user?.name}}</span>
                  <span class="text-black-50">{{user?.email}}</span>
                  <span> </span></div>
              </div>
              <div class="col-md-9">
                <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Chỉnh sửa thông tin cá nhân</h4>
                  </div>
                  <div class="row mt-3">
                    <div class="col-md-12">
                      <label class="labels" for="name">Họ và tên</label><sup
                      style="color: red">*</sup>
                      <input id="name" type="text"
                             class="form-control"
                             placeholder="Nhập họ tên ... (*)" formControlName="name">
                      <span class="text-danger">{{nameError}}</span>
                    </div>
                    <div class="col-md-12">
                      <label class="labels" for="phoneNumber">Số điện thoại</label><sup
                      style="color: red">*</sup>
                      <input type="text"
                             class="form-control"
                             placeholder="Nhập số điện thoại ... (*)"
                             id="phoneNumber" formControlName="phoneNumber">
                      <span class="text-danger">{{phoneNumberError}}</span>
                    </div>
                    <div class="col-md-12">
                      <label class="labels" for="email">Email</label><sup
                      style="color: red">*</sup>
                      <input formControlName="email" id="email" type="text"
                             class="form-control"
                             placeholder="Nhập email ... (*)">
                      <span class="text-danger">{{emailError}}</span>

                    </div>
                    <div class="col-md-12"><label class="labels" for="address">Địa chỉ</label><sup
                      style="color: red">*</sup>
                      <input type="text" class="form-control" id="address"
                             placeholder="Nhập địa chỉ ... (*)"
                             formControlName="address">
                      <span class="text-danger">{{addressError}}</span>
                    </div>
                    <div class="col-md-12">
                      <label class="labels">Giới tính</label><sup
                      style="color: red">*</sup><br>
                      <input type="radio" [value]="true" id="nam" class="form-radio" formControlName="gender"><label
                      for="nam">Nam</label>
                      <input style="margin-left: 20px" type="radio" [value]="false" class="form-radio" id="nu"
                             formControlName="gender"><label
                      for="nu">Nữ</label>
                      <span class="text-danger">{{genderError}}</span>

                    </div>
                    <div class="col-md-12"><label for="dateOfBirth" class="labels">Ngày sinh</label><sup
                      style="color: red">*</sup>
                      <input type="date" id="dateOfBirth"
                             class="form-control"
                             formControlName="dateOfBirth">
                      <span class="text-danger">{{dateOfBirthError}}</span>

                    </div>
                  </div>
                  <div class="mt-5 text-center">
                    <button class="btn btn-primary" type="submit">Chỉnh sửa</button>
                    <button style="margin-left: 20px" type="button" id="huy" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                      Hủy
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


